<div class="container">
    <div class="main-page">
        <div class="columns is-multiline">
            <div class="column is-12-mobile is-6-tablet is-3-desktop">
                <div class="card is-shadowless is-slightly-rounded">
                    <div class="card-image">
                        <figure class="image"><a alt="Sterling Ballroom at the DoubleTree Tinton Falls NJ"
                                class="is-slightly-rounded"></a></figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <p><span class="title is-4 is-capitalized"><a class="has-text-black">Sterling Ballroom At
                                        The DoubleTree
                                        Tinton Falls NJ</a></span> <br> <span class="m-t-tiny block">Eatontown,
                                    NJ</span></p>
                            <p class="venue-data-sm">
                                At the Sterling Ballroom of the DoubleTree Tinton Falls, NJ, we want to make your next
                                occasion a
                                flawless event. We...
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-12-mobile is-6-tablet is-3-desktop">
                <div class="card is-shadowless is-slightly-rounded">
                    <div class="card-image">
                        <figure class="image"><a
                                href="https://www.receptionhalls.com/venue/seven-for-parties-dallas-tx"><img
                                    class="is-slightly-rounded"></a></figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <p><span class="title is-4 is-capitalized"><a
                                        href="https://www.receptionhalls.com/venue/seven-for-parties-dallas-tx"
                                        class="has-text-black">Seven
                                        For Parties</a></span> <br> <span class="m-t-tiny block">Dallas,
                                    TX</span></p>
                            <p class="venue-data-sm">
                                Flexible, Fun and a little Funky – that’s Seven for Parties. Located in the Dallas
                                Design District,
                                Seven for...
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-12-mobile is-6-tablet is-3-desktop">
                <div class="card is-shadowless is-slightly-rounded">
                    <div class="card-image">
                        <figure class="image"><a alt="Holiday Inn Ontario Airport Hotel"
                                class="is-slightly-rounded"></a></figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <p><span class="title is-4 is-capitalized"><a class="has-text-black">Holiday Inn Ontario
                                        Airport
                                        Hotel</a></span> <br> <span class="m-t-tiny block">Ontario, CA</span></p>
                            <p class="venue-data-sm">
                                ~Upon entering our hotel you will be greeted with modern, sophisticated style and
                                friendly employees.
                                ~Spacious foyer...
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-12-mobile is-6-tablet is-3-desktop">
                <div class="card is-shadowless is-slightly-rounded">
                    <div class="card-image">
                        <figure class="image"><a alt="Hilton Garden Inn Ridgefield Park"
                                class="is-slightly-rounded"></a></figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <p><span class="title is-4 is-capitalized"><a class="has-text-black">Hilton Garden Inn
                                        Ridgefield
                                        Park</a></span> <br> <span class="m-t-tiny block">Ridgefield Park, NJ</span></p>
                            <p class="venue-data-sm">
                                Whether you’re planning a wedding, celebrating a graduation or getting together for a
                                family reunion,
                                HGI has the...
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-12-mobile is-6-tablet is-3-desktop">
                <div class="card is-shadowless is-slightly-rounded">
                    <div class="card-image">
                        <figure class="image"><a alt="Windsor Ballroom at the Holiday Inn of East Windsor"
                                class="is-slightly-rounded"></a></figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <p><span class="title is-4 is-capitalized"><a class="has-text-black">Windsor Ballroom At The
                                        Holiday Inn
                                        Of East Windsor</a></span> <br> <span class="m-t-tiny block">Hightstown,
                                    NJ</span></p>
                            <p class="venue-data-sm">
                                At the Windsor Ballroom at the Holiday Inn East Windsor, we believe in bringing
                                extravagant beauty to
                                each and every...
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-12-mobile is-6-tablet is-3-desktop">
                <div class="card is-shadowless is-slightly-rounded">
                    <div class="card-image">
                        <figure class="image"><a alt="Versailles Ballroom at the Ramada Inn of Toms River"
                                class="is-slightly-rounded"></a></figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <p><span class="title is-4 is-capitalized"><a class="has-text-black">Versailles Ballroom At
                                        The Ramada
                                        Inn Of Toms River</a></span> <br> <span class="m-t-tiny block">Toms River,
                                    NJ</span></p>
                            <p class="venue-data-sm">
                                The Versailles Ballroom at the Ramada Toms River is an Ocean County favorite for
                                weddings, bar/bat
                                mitzvahs, sweet...
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-12-mobile is-6-tablet is-3-desktop">
                <div class="card is-shadowless is-slightly-rounded">
                    <div class="card-image">
                        <figure class="image"><a alt="Crystal Ballroom at Radisson Freehold"
                                class="is-slightly-rounded"></a>
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <p><span class="title is-4 is-capitalized"><a class="has-text-black">Crystal Ballroom At
                                        Radisson
                                        Freehold</a></span> <br> <span class="m-t-tiny block">Freehold, NJ</span></p>
                            <p class="venue-data-sm">
                                The Crystal Ballroom at the Radisson Freehold, is a beautiful Monmouth County banquet
                                hall that is the
                                perfect location...
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="column is-12-mobile is-6-tablet is-3-desktop">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="https://image.flaticon.com/icons/svg/145/145867.svg" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <span class="title is-4">John Smith</span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>





        </div>
    </div>
</div>